.container {
    display: flex;
    flex-direction: row;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}

.btnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

